[submodule "libs/boost"]
	path = libs/boost
	url = https://github.com/boostorg/boost.git
[submodule "libs/bzip2"]
	path = libs/bzip2
	url = https://github.com/Enseed/bzip2.git
[submodule "libs/zlib"]
	path = libs/zlib
	url = https://github.com/madler/zlib.git
[submodule "lib"]
	path = lib
	url = https://stash.dsotm.dyndns.org/scm/tp/boost_lib.git
[submodule "include/boost"]
	path = include/boost
	url = https://stash.dsotm.dyndns.org/scm/tp/boost_include.git
